{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Año</label>
      {{ form.anio }}
        <br>
        <label>Poblacion Total</label>

        {{ form.pobtotal }}
        <br>
        <label>Cantidad Mujeres</label>

        {{ form.pobmujer }}
        <br>
        <label>Cantidad Varones</label>

        {{ form.pobvaron }}
        <br>
        <label>Cantidad Nacimientos</label>

        {{ form.nacimiento }}
        <br>
        <label>Cantidad Muertes</label>

        {{ form.muerte }}
        <br>

        <div class="">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
{% endblock %}

