{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph border_box">
            <a href="/reportfactorescondicionantes/"><i class="fa fa-edit"></i>Volver lista reportes<span
                    class="fa fa-chevron-down"></span></a>
        </div>
    </div>
    <script src="{% static 'code/highcharts.js' %}"></script>
    <script src="{% static 'code/modules/exporting.js' %}"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
        var jsonData = [{"name": "Poblacion Total", "cantidad": 276443}, {
            "name": "Poblacion Mujer",
            "cantidad": 138255
        }, {"name": "Poblacion Varon", "cantidad": 138188}]
        var categoryData = [];
        var seriesData = [];
        $.each(jsonData, function (i, item) {
            seriesData.push(jsonData[i].count);
            categoryData.push(jsonData[i].name);
            console.log("seriesData" + JSON.stringify(seriesData));
        });

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Poblacion Total, Poblacion Mujerers, Poblacion Varones'
            },
            subtitle: {
                text: 'Año 2017', // subtítulo

            },
            xAxis: {

                crosshair: true,

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad Personas'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }

            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {name: 'Poblacion Total', data: [276443]},
                {name: 'Poblacion Mujer', data: [138255]},
                {name: 'Poblacion Varon', data: [138188]},
            ],
            credits: {
                //quitando los creditos
                enabled: false
            }


        });


    </script>


{% endblock %}

