{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph border_box">
            <a href="/reportnivelsalud/"><i class="fa fa-edit"></i>Volver lista reportes<span
                    class="fa fa-chevron-down"></span></a>
        </div>
    </div>
    <script src="{% static 'code/highcharts.js' %}"></script>
    <script src="{% static 'code/modules/exporting.js' %}"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
        var jsonData = [{
            "nombre": "Ayacucho",
            "descripcion": "Calculo de las Vias Urinarias Inferiores",
            "cantidad": 986
        }, {
            "nombre": "Vinchos",
            "descripcion": "Leucoplasia del Cuello del Utero",
            "cantidad": 974
        }, {"nombre": "Ocros", "descripcion": "Bronconeumonia", "cantidad": 541}, {
            "nombre": "San Juan Bautista",
            "descripcion": "Quistes Originados por el desarrollo de los dientes",
            "cantidad": 522
        }, {"nombre": "Acocro", "descripcion": "Periodontitis Apical Aguda Originada en la Pulpa", "cantidad": 477}]
        var categoryData = [];
        var seriesData = [];
        var provenf = [];
        $.each(jsonData, function (i, item) {
            provenf.push(jsonData[i].nombre+' '+jsonData[i].descripcion);
            seriesData.push(jsonData[i].cantidad);
            categoryData.push(jsonData[i].descripcion);

        });


        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Reporte Enfermedad mas frecuente por distrito'
            },
            subtitle: {
                text: 'Año 2017', // subtítulo

            },
            xAxis: {
                categories: provenf,
                crosshair: true,

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad Personas'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }

            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name[0]}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{name: 'Provincia Enfermedad', data: seriesData}
            ],
            credits: {
                //quitando los creditos
                enabled: false
            }

        });


    </script>


{% endblock %}

