{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph border_box">
            <a href="/reportnivelsalud/"><i class="fa fa-edit"></i>Volver lista reportes<span
                    class="fa fa-chevron-down"></span></a>
        </div>
    </div>
    <script src="{% static 'code/highcharts.js' %}"></script>
    <script src="{% static 'code/modules/exporting.js' %}"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
        var jsonData = [{
            "nombre": "Masculino",
            "descripcion": "Otras Malformaciones Congenitas del Pene",
            "cantidad": 2866
        }, {
            "nombre": "Femenino",
            "descripcion": "Otras Inflamaciones Especificadas de la Vagina y de la Vulva",
            "cantidad": 3748
        }]
        var categoryData = [];
        var seriesData = [];
             var provenf = [];
        $.each(jsonData, function (i, item) {
            provenf.push(jsonData[i].nombre+' '+jsonData[i].descripcion);
            seriesData.push(jsonData[i].cantidad);
            categoryData.push(jsonData[i].descripcion);
            console.log("seriesData" + JSON.stringify(seriesData));
        });

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Enfermedad más frecuente por genero'
            },
            subtitle: {
                text: 'Año 2017', // subtítulo

            },
            xAxis: {
                categories: categoryData,
                crosshair: true,

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad Personas'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }

            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {name: 'Masculino', data: [2866,0]},
                {name: 'Femenino', data: [0,3748]}


                ],
            credits: {
                //quitando los creditos
                enabled: false
            }
        });


    </script>


{% endblock %}

