{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph border_box">
            <a href="/reportnivelsalud/"><i class="fa fa-edit"></i>Volver lista reportes<span
                    class="fa fa-chevron-down"></span></a>
        </div>
    </div>
    <script src="{% static 'code/highcharts.js' %}"></script>
    <script src="{% static 'code/modules/exporting.js' %}"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
        var jsonData = [{"count": 7572, "name": "Meses"}, {"count": 162689, "name": "Años"}, {
            "count": 883,
            "name": "Dias"
        }]
        var categoryData = [];
        var seriesData = [];
        $.each(jsonData, function (i, item) {
            seriesData.push(jsonData[i].count);
            categoryData.push(jsonData[i].name);
            console.log("seriesData" + JSON.stringify(seriesData));
        });

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cantidad Enfermedades reportados por grupo etareo'
            },
            subtitle: {
                text: 'Año 2017', // subtítulo

            },
            xAxis: {

                crosshair: true,

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad Personas'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }

            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {name: '1 a 12 Meses', data: [7572]},
                {name: '1 a 100 Años', data: [162689]},
                {name: '1 a 29 Dias', data: [883]},
            ],
            credits: {
                //quitando los creditos
                enabled: false
            }



        });


    </script>


{% endblock %}

