{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph border_box">
            <a href="/reportnivelsalud/"><i class="fa fa-edit"></i>Volver lista reportes<span
                    class="fa fa-chevron-down"></span></a>
        </div>
    </div>
    <script src="{% static 'code/highcharts.js' %}"></script>
    <script src="{% static 'code/modules/exporting.js' %}"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
        var jsonData = [{
            "eess": "C.S. SAN JUAN BAUTISTA",
            "descripcion": "Hiperglicemia",
            "cantidad": 189
        }, {
            "eess": "C.S. QUINUA",
            "descripcion": "Alveolitis del Maxilar",
            "cantidad": 176
        }, {
            "eess": "HOSPITAL REGIONAL DE AYACUCHO \"MIGUEL ANGEL MARISCAL LLERENA\"",
            "descripcion": "Hipertension Esencial (Primaria)",
            "cantidad": 175
        }, {
            "eess": "P.S. SANTA ANA",
            "descripcion": "Infeccion de Herida Quirurgica Obstetrica",
            "cantidad": 175
        }, {
            "eess": "C.S. LICENCIADOS",
            "descripcion": "Insuficiencia Renal Aguda con Necrosis Cortical Aguda",
            "cantidad": 174
        }, {
            "eess": "C.S. BELEN",
            "descripcion": "Fistula Anal",
            "cantidad": 167
        }, {
            "eess": "HOSPITAL DE APOYO JESUS NAZARENO",
            "descripcion": "Trastorno de la Personalidad Emocionalmente Inestable",
            "cantidad": 158
        }, {
            "eess": "C.S. LOS OLIVOS",
            "descripcion": "Alergia no Especificada",
            "cantidad": 158
        }, {
            "eess": "C.S. CONCHOPATA",
            "descripcion": "Hemorragia Postparto Secundaria o Tardia",
            "cantidad": 156
        }, {"eess": "C.S. CARMEN ALTO", "descripcion": "Fractura de Otro dedo de la Mano", "cantidad": 156}]
        var categoryData = [];
        var seriesData = [];
        var provenf = [];
        $.each(jsonData, function (i, item) {
            provenf.push(jsonData[i].eess + ' ' + jsonData[i].descripcion);
            seriesData.push(jsonData[i].cantidad);
            categoryData.push(jsonData[i].eess);
            console.log("seriesData" + JSON.stringify(seriesData));
        });

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Enfermedades más frecuentes por Establecimiento de Salud'
            },
            subtitle: {
                text: 'Año 2017', // subtítulo

            },
            xAxis: {
                categories: provenf,
                crosshair: true,

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad Personas'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }

            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Establecimiento - Enfermedades', data: seriesData
            }],
            credits: {
                //quitando los creditos
                enabled: false
            }


        });


    </script>


{% endblock %}

