{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}

     <h4><a href="/NSr1/"><i class="fa fa-edit"></i> Reporte Enfermedades más frecuentes reportados<span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Cantidad de Enfermedades mas frecuentes reportados por distrito<span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Enfermedades más frecuentes por distrito <span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Cantidad de Enfermedades reportados por genero <span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Enfermedad mas frecuente por genero <span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Cantidad de enfermedades mas frecuente por grupo etareo <span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Enfermedades mas frecuentes reportados por Establecimiento de Salud <span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Cantidad de enfermedades mas frecuentes por grupo de Enfermedad <span class="fa fa-chevron-down"></span></a></h4>



{% endblock %}

