{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}
     <h4><a href=""><i class="fa fa-edit"></i> Reporte Cantidad de poblacion toal mujeres y varones<span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Cantidad de nacimientos y defunciones<span class="fa fa-chevron-down"></span></a></h4>
    <h4><a href=""><i class="fa fa-edit"></i> Reporte Poblacion total por rango de edades <span class="fa fa-chevron-down"></span></a></h4>


{% endblock %}

