{% extends 'situacionsalud/index.html' %}

{% load staticfiles %}

{% block content %}
<script src="{% static 'code/highcharts.js' %}"></script>
<script src="{% static 'code/modules/exporting.js' %}"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
var jsonData =[{"count":12023,"name":"U140  "},{"count":9919,"name":"Z292  "},{"count":9596,"name":"Z006  "},{"count":7334,"name":"U2142 "},{"count":7282,"name":"U200  "},{"count":6614,"name":"J00X  "},{"count":6264,"name":"Z019  "},{"count":5624,"name":"Z013  "},{"count":5618,"name":"U130  "},{"count":5088,"name":"Z001  "}]
var categoryData= [];
var seriesData= [];
$.each(jsonData, function(i,item){
 seriesData.push(jsonData[i].count);
 categoryData.push(jsonData[i].name);
  console.log("seriesData"+JSON.stringify(seriesData));
 });

Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: categoryData,
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Enfermedades',
        data: seriesData

    }]
});
		</script>

{% endblock %}

